table {
  border:solid 1px;
}
td {
  border:solid 1px;
  width:100px;
}
tr {
  border:solid 1px;
  height:100px;
}
p.c2048 {
  text-align:center;
  vertical-align:middle;
  font-weight:bold;
}

h2 {
  position: fixed;
  top: 10px;
  right: 300px;
}

.scorelist{
  position: fixed;
  top: 70px;
  right: 330px;
}
